In [18]:
# conventional way to import pandas
import pandas as pd

In [21]:
movie_cols = ['S. No.', 'Age', 'Gender', 'Work', 'Pin']
movie=pd.read_csv('http://bit.ly/moviebyuser',sep='|',header=None,names=movie_cols)
movie.head()   # Example of a method in Pandas

   S. No.  Age Gender        Work    Pin
0       1   24      M  technician  85711
1       2   53      F       other  94043
2       3   23      M      writer  32067
3       4   24      M  technician  43537
4       5   33      F       other  15213

In [22]:
# Example of column attribute/function in Pandas
movie.columns

Index(['S. No.', 'Age', 'Gender', 'Work', 'Pin'], dtype='object')

In [23]:
# create a list in which each element refers to a DataFrame row: True if the row satisfies the condition, False otherwise
booleans=[]
for length in movie.Age:
    if length>=25:
        booleans.append(True)
    else:
        booleans.append(False)

In [24]:
booleans

[False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False]

In [26]:
# simplify the steps above: no need to write a for loop to create 'is_long' since pandas will broadcast the comparison
is_age = movie.Age >= 25
movie[is_age]

# or equivalently, write it in one line (no need to create the 'is_long' object)
movie[movie.Age >= 25]

     S. No.  Age Gender           Work    Pin
1         2   53      F          other  94043
4         5   33      F          other  15213
5         6   42      M      executive  98101
6         7   57      M  administrator  91344
7         8   36      M  administrator  05201
..      ...  ...    ...            ...    ...
936     937   48      M       educator  98072
937     938   38      F     technician  55038
938     939   26      F        student  33319
939     940   32      M  administrator  02215
941     942   48      F      librarian  78209

[709 rows x 5 columns]

In [27]:
# Use the 'isin' method
movie[movie.Work.isin(['student', 'writer'])]

     S. No.  Age Gender     Work    Pin
2         3   23      M   writer  32067
8         9   29      M  student  01002
20       21   26      M   writer  30068
21       22   25      M   writer  40206
27       28   32      M   writer  55369
..      ...  ...    ...      ...    ...
927     928   21      M  student  55408
932     933   28      M  student  48105
938     939   26      F  student  33319
940     941   20      M  student  97229
942     943   22      M  student  77841

[241 rows x 5 columns]

In [28]:
tweet=pd.read_csv('http://bit.ly/tweetsdf')
tweet.head()

,author,content,date_time,language,number_of_likes,number_of_shares
0,katyperry,Is history repeating itself...?#DONTNORMALIZEH...,12-01-2017 19:52,en,7900,3472
1,katyperry,@barackobama Thank you for your incredible gra...,11-01-2017 08:38,en,3689,1380
2,katyperry,Life goals. https://t.co/XIn1qKMKQl,11-01-2017 02:52,en,10341,2387
3,katyperry,Me right now 🙏🏻 https://t.co/gW55C1wrwd,11-01-2017 02:44,en,10774,2458
4,katyperry,SISTERS ARE DOIN' IT FOR THEMSELVES! 🙌🏻💪🏻❤️ ht...,10-01-2017 05:22,en,17620,4655

In [30]:
# All the content which contains the string 'Life'
tweet[tweet.content.str.contains('Life')]

,author,content,date_time,language,number_of_likes,number_of_shares
2,katyperry,Life goals. https://t.co/XIn1qKMKQl,11-01-2017 02:52,en,10341,2387
330,katyperry,@DailyMendesLife @ShawnMendes talent,10-09-2016 21:53,en,10203,5296
828,katyperry,@PrismaticLife_ 32,28-09-2015 07:49,und,5063,2055
953,katyperry,Also heard one of the greatest lines from @its...,02-07-2015 19:37,en,12751,6394
1694,katyperry,Life lessons from Cleo Wade: when having serio...,10-06-2014 18:48,en,7352,4399
...,...,...,...,...,...,...
51693,ddlovato,Media and everyone online: anytime you go to p...,29-09-2015 02:43,en,18809,13467
51898,ddlovato,Maybe the next time you want to cut someone do...,19-07-2015 09:01,en,21650,16825
52039,ddlovato,Gotta keep laughing... Life's to short to worry 💖,19-06-2015 17:21,en,34248,30510
52060,ddlovato,Underneathe the stars listening to acoustic mu...,11-06-2015 02:08,en,22499,12820
52537,ddlovato,Life couldn't be better right now. 😊,06-01-2015 23:10,en,32799,23796

In [31]:
# change the data type of an existing Series
movie['Age'] = movie.Age.astype(float)
movie.dtypes

S. No.      int64
Age       float64
Gender     object
Work       object
Pin        object
dtype: object